:root{
    --button: #B95C50;
    --head: #965a00;
    --primary: #fedfe3;
    --secondary: #deb3ad;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    background: var(--secondary);
}

.logo
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 1rem;
    padding: 0.4rem;
    color: var(--button);
    z-index: 999;
}

.firstmeet
{
    display: flex;
    margin: 4rem 0;
    flex-direction: column;
}

.firstmeet img.imgfirst
{
    max-width: 348px;
    max-height: 147px;
    position: relative;
    right: -20px;
    box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.25);
    z-index: 99;
}
.firstmeet .judul::after
{
    content: '';
    position: absolute;
    background: url('../img/bunga.png');
/*    background-color: darkred;*/
    width: 164px;
    height: 85px;
/*    z-index: 9999;*/
    top: 33%;
    right: 30%;
}

.firstmeet .judul
{
    margin:0.5rem;
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.firstmeet .tahun
{
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--button);
    margin-left: 0.5rem;
}

.firstmeet p
{
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 14px;
    margin-left: 0.5rem;
    color: #fff;
}